<ion-view title="Sign In">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header main-login-page">
    <div class="list">
      <label class="item item-input username">
        <i class="ion-person"></i>
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input lock">
        <i class="ion-locked"></i>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button button-full button-blue button-signin" ng-click="authenticateUser()">
      SIGN IN
    </button>
  </ion-content>
</ion-view>
