<ion-view title="Sign In">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header main-login-page">
    <form name="loginForm" novalidate>
      <div class="list">
        <label class="item item-input username" ng-class="{'has-error': loginForm.password.$error.server}">
          <i class="icon ion-person"></i>
          <input type="text" placeholder="Username or email" ng-model="user.username" name="username">
        </label>
        <label class="item item-input lock" ng-class="{'has-error': loginForm.password.$error.server}">
          <i class="icon ion-locked"></i>
          <input type="password" placeholder="Password" ng-model="user.password" name="password">
        </label>
        <div ng-show="loginForm.password.$error.server" class="form-errors">
          <div class="form-error" ng-show="loginForm.password.$error.server">{{loginError}}</div>
        </div>
      </div>
      <button class="button button-block button-blue button-signin" ng-click="authenticateUser(loginForm)">
        SIGN IN
      </button>
    </form>
  </ion-content>
</ion-view>
