<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.simpleweek" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Simpleweek</name>
  <description>
        SimplewWeek - it is a powerful personal task manager with interesting workflow and awesome design.
    </description>
  <author email="maks.rafalko@gmail.com" href="http://mrafalko.com">
        Maks Rafalko
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
</widget>
