<ion-modal-view>
  <form name="taskForm" class="new-task-form" novalidate>
    <ion-header-bar class="custom-bar bar-balanced">
      <h1 class="title create-task-header" style="right: auto !important; text-align: center !important;">Create new task</h1>
      <button type="button" class="left button button-icon icon ion-ios-close-empty sw-create-task-btn-close" ng-click="modal.hide()"></button>
      <button type="button" ng-disabled="! taskForm.$dirty || (taskForm.$submitted && taskForm.$valid)" class="right button button-icon icon ion-ios-checkmark-empty sw-profile-save" ng-click="saveFromModal(taskForm)"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label ng-class="{'has-error': (taskForm.$submitted || taskForm.text.$dirty) && taskForm.text.$invalid}" class="item item-input item-stacked-label">
          <span class="input-label">Text </span>
          <span ng-if="(taskForm.$submitted || taskForm.text.$dirty) && taskForm.text.$invalid" class="input-label">This value should not be blank</span>
          <input type="text" placeholder="Task's text" ng-model="newTask.text" name="text" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea class="task-description" msd-elastic placeholder="Your comments" ng-model="newTask.description" name="description"></textarea>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Repeat
          </div>
          <select ng-model="newTask.frequency">
            <option value="" selected>Never</option>
            <option value="1">Daily</option>
            <option value="2">Each 2 days</option>
            <option value="3">Weekly</option>
            <option value="5">Monthly</option>
            <option value="6">Yearly</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date </span>
          <ionic-datepicker input-obj="datepickerObject">
            <button type="button" style="visibility: hidden;"></button>
          </ionic-datepicker>
          <input type="text" value="{{newTask.startDate.toDate() | date:'MMMM dd, yyyy'}}">
          <input type="hidden" ng-model="newTask.startDate" name="startDate" required>
        </label>
      </div>
    </ion-content>
  </form>
</ion-modal-view>
