<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content scroll="false" class="has-header">
      <ion-list>
        <ion-item ng-if="isLoggedIn()" class="custom-menu-item profile-item item item-complex" menu-close >
          <a class="item-content avatar-item-content" ui-sref="app.profile" target="_self">
            <div class="author-icon-row">
                <span style="border: 2px solid #b2b2b2; background-image:url({{currentUser.config.avatar}})"></span>
            </div>
            <div class="author-info centerBlock">
              <h1>{{currentUser.config.username}}</h1>
            </div>
          </a>
        </ion-item>
        <ion-item ng-if="isLoggedIn()" menu-close ui-sref="app.tasks" class="item-icon-left">
          <i class="icon ion-ios-list-outline"></i>Tasks
        </ion-item>
        <ion-item ng-if="isLoggedIn()" menu-close ui-sref="app.profile" class="item-icon-left">
          <i class="icon ion-ios-person-outline"></i>Profile
        </ion-item>
        <ion-item ng-if="isLoggedIn()" menu-close ui-sref="app.stats" class="item-icon-left">
          <i class="icon ion-ios-pulse"></i>Stats
        </ion-item>
        <ion-item ng-if="isLoggedIn()" menu-close ui-sref="app.feedback" class="item-icon-left">
          <i class="icon ion-ios-compose-outline"></i>Feedback
        </ion-item>
      </ion-list>
      <div ng-if="isLoggedIn()" class="padding custom-menu-item menu-logout" nav-clear menu-close ng-click="logout()">
        <a class="item-content ion-power">
          SIGN OUT
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
