<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content scroll="false" class="has-header">
      <ion-list>
        <ion-item ng-if="isLoggedIn()" class="custom-menu-item profile-item item item-complex" nav-clear menu-close >
          <a class="item-content avatar-item-content" ng-href="#/app/tasks" target="_self">
            <div class="author-icon-row">
                <span style="border: 2px solid #b2b2b2; background-image:url({{currentUser.config.avatar}})"></span>
            </div>
            <div class="author-info centerBlock">

            </div>
          </a>
        </ion-item>
        <ion-item ng-if="isLoggedIn()" nav-clear menu-close href="#/app/tasks">Tasks</ion-item>
      </ion-list>
      <div ng-if="isLoggedIn()" class="padding custom-menu-item menu-logout" nav-clear menu-close ng-click="logout()">
        <a class="item-content ion-power">
          SIGN OUT
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
