<ion-view title="SimpleWeek">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="logo">
    </div>
    <div class="slogan">
    </div>
    <button class="button button-block button-stable" ng-click="navigateTo('app.signin')">
      Sign In
    </button>
    <button class="button button-block button-stable" ng-click="navigateTo('app.signup')">
      Sign up
    </button>
  </ion-content>
</ion-view>
