<ion-view title="Tasks">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <button class="right button button-icon icon ion-plus" ng-click="create()"></button> -->
  </ion-nav-buttons>

  <ion-header-bar class="bar-light bar-subheader bar-week">
    <div class="row">
      <div ng-repeat="weekDay in taskListState.weekDays" ng-click="chooseWeekDay(weekDay)" ng-class="{ active: weekDay.active }" class="week-day col col-20">
        <div>{{weekDay.title}}</div>
        <div>{{weekDay.number}}</div>
      </div>
    </div>
  </ion-header-bar>

  <ion-content class="has-header has-week" sw-detect-gestures sw-on-swipe-left="onSwipeContentLeft" sw-on-swipe-right="onSwipeContentRight">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-list class="todos" show-delete="false" can-swipe="true">
      <ion-item class="todo" ng-class="{ 'completed': 2 == task.status, 'recurring': task.recurring, 'description': task.description }" on-swipe-right="changeCompleted(task)" ng-repeat="task in taskListState.tasks" ui-sref="app.single_task({ taskId: task.id, taskObject: task })">
        <i ng-if="task.recurring" class="task-status-icon recurring icon ion-ios-loop-strong"></i>
        <i ng-if="task.description" class="task-status-icon icon ion-ios-paper-outline"></i>
        <span class="text" ng-bind-html="task.text | markdown"></span>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="remove(task)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <md-button ng-click="create()" class="sw-md-btn md-fab md-fab-bottom-right md-primary">
    <i class="ion-plus-round"></i>
  </md-button>
</ion-view>
